{{ define "main" }}

<h2>About me.</h2>

<img class="profile-img" src="youngguo.jpg" />

<p>I’m a recent Cal graduate and incoming Software Engineer at <a href="https://samsara.com">Samsara</a>.</p>
<p>I’m passionate about leadership in student organizations and self-improvement.</p>
<p>In my free time, I enjoy <a href="https://www.notion.so/youngxguo/Reading-27bdd450c2f8406baa6c6408f90b4b44">reading</a> and working on products that help people.</p>

<h2>I'm currently</h2>
<ul>
  <li>Reading <a href="https://www.goodreads.com/book/show/16144853-leaders-eat-last">Leaders Eat Last</a></li>
</ul>


{{ end }}
