/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';

/*
  Or add your statements here:
 */

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CircularStd-Book.woff') format('woff');
}

body {
  font-size: calc(10px + 1vmin);
  font-family: 'Circular Std Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}

a {
  color: #FF6679;
}

a:visited {
  color: #FF6679;
}

a:hover {
  border-color: #FF6679;
}

.content {
  padding: 0 32px;
}

ul {
  padding-left: 0px;
}

ul li{
  display: inline;
  margin-left: 1vh;
  margin-right: 1vh;
}

.profile-img {
  width: 200px;
  height: 200px;
}
