/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';

/*
  Or add your statements here:
 */

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/CircularStd-Book.woff') format('woff');
}

body {
  font-size: calc(10px + 1vmin);
  font-family: 'Circular Std Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

#main {
  margin-top: 10%;
  height: 100vh;
}

a {
  text-decoration: none;
  &:visited {
    color: gray
  }
}

.nav ul {
  padding-left: 0px;

  li {
    display: inline;
    margin-right: 1vh;
  }
}

.profile-img {
  width: 200px;
  height: 200px;
}
